/**
* menu di sidebar sebelah kiri
* inspirasi dari https://youtu.be/zLypHbuuJyM
*/
#left-sidebar .nav-item > .nav-link {
  color: #fff;
}
#left-sidebar .nav-item > .nav-link:hover {
  color: #ccc;
}
#left-sidebar .divider {
  border: 1px solid #fff;
  width: 100%;
}
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
